<h1>Display your Pirate here</h1>

  <p>Name: <%= @pirate.name %></p>
  <p>Weight: <%= @pirate.weight %></p>
  <p>Height: <%= @pirate.height %></p>


<h1>Display your ships</h1>

<% @ships.each.with_index do |ship, index| %>
  <h2>Ship <%= "#{index + 1}"%></h2>
  <p>Name: <%= ship.name %></p>
  <p>Type: <%= ship.type %></p>
  <p>Booty: <%= ship.booty %></p>
<% end %>
